body{
    font-family: "微軟正黑體",sans-serif;
}

.header{
    background-color: #414141;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 0.5em;
}
.logo{
    font-size: 2em;/*文字倍數，相對尺寸*/
    color: #ffde55;
    font-weight: bold;
}
.logo>a{
    color: #ffde55;
    text-decoration: none;
}
.nav{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.nav li{
    margin: 0 0.5em;
}

.nav li:last-child{
    margin: 0 0 0 0.5;
}

.nav a{
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}
.nav a:hover{
    color: #ffde55;
}
.banner img{
    display: block;
    width: 100%;
    height: auto;
}

.content{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.intro{
    flex-basis: 30%;
    margin-right: 5%;
}
.about{
    flex-basis: 65%;
}
.title{
    margin: 0.8em 0 0.2em;
    padding-bottom: 0.2em;
    font-size: 2em;
    font-weight: 400;
    border-bottom: 1px solid #999;
}

.intro-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1em;
    margin-top: 1.4em;
}
.intro-list>li{
    display: flex;
    margin-bottom: 0.5em;
}
.intro-list>li>span:first-child{
    flex-basis: 5em;
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    
}
.intro-list>li>span:first-child:after{
    content: ":";
}
.about-content{
    line-height: 2em;
    font-size: 1em;
}
.links{
    width: 100%;
    padding: 1em 0 3em;
    display: flex;
}

.links .button{
    margin-right: 3em;
}

.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffde55;
    width: 14em;
    height: 3em;
    color: black;
    text-decoration: none;
}
.btnyellow{
    width: 200px;
    margin-right: 3em;
}


