.box{
    width: 400px;
    height: 500px;
    margin-top: 7em;
    margin-left: 6em;
    background-color: rgba(225, 225, 225, 0.4);
    border: 1px solid white;
}
.sub-title{
    text-align: center;
}
.contentBox{
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    line-height: 2.5em;
}
.contentBox>lebel{
    text-align: left;
    display: block;
    width: 20%;
}
.contentBox>span{
    display: block;
    width: 80%;
    padding-left: 1em;
}

/*=========joinCoworker=========*/

.big-box{
    height: 460px;
    position: relative;
}
.option-style{
	color: #000;
}

.loading-ani{
    width: 100%;
    height: 100%;
    background-color: #aaa;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    
}

