/*======================all======================*/
*{
/*    border: 1px solid red;*/
}
html,body{
    overflow: auto;
}
p {
    margin: 0 0 0px;
}

.btn-yellow {
    transition: .3s;
}

.btn-yellow:hover {
    background-color: #eaa12d;
}
.btnyellow{
    margin-top: 0px;
}

/*======================navbar======================*/
.navbar {
    margin-bottom: 0px;
}

/*======================section======================*/
.section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*======================top-img======================*/
.top-img{
    position: relative;
    width: 100%;
}
.top-img img{
    width: 100%;
}
/*======================cart-img======================*/
.cart-img{
    position: absolute;
    right: 3%;
    top: 10%;
    z-index: 1;
}
.cart-img img{
    width: 75%;
}
.cart-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.cart-screen {
    background-color: #ffd801;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.cart-qty {
    position: absolute;
    right: -10%;
    top: -10%;
    z-index: 1;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}
/*======================article======================*/
.article{
    width: 94%;
    height: 320px;
}
.article-inner{
    width: 94%;
    height: 300px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #eee;
}
/*=========product-img=========*/
.product-img, .product-content, .product-add{
    height: 80%;
}
.product-img{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img img{
    width: 80%;
}
/*=========product-content=========*/
.product-content{
    width: 35%;
    display: flex;
    align-items: center;
}
.content-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-name p{
    font-size: 30px;
    font-weight: bold;
}
.product-desc p{
    color: #7e7e7e;
}
.product-name{}
.product-desc{}
.product-btn{
    width: 50%; 
}
.product-btn input{
height: 45px;
}
.product-content input{
    border-style: none;
}
/*=========product-add=========*/
.product-add{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price-container{
    display: flex;
    justify-content: flex-end;
}
.unit-price{
	
    display: flex;
    justify-content: center;
    padding-top: 15%;
}
.unit-price p{
	width:80px;
    font-size: 20px;
    padding-top: 11%;
    font-weight:bold;
}
.unit-price font{
    font-size: 40px;
    font-weight: bold;
    padding-left: 10%;
}
.checkQty{
    display: flex;
    justify-content: space-between;
}
.checkSelect{
    width: 35%;
}
.add-btn{
    width: 60%;
    height: 45px;
    border-style: none;
}



