/*======================all======================*/
*{
/*    border: 1px solid red;*/
}
p {margin: 0 0;}

.btn-yellow {
    transition: .3s;
    width: 100%;
    height: 100%;
    background-color: #FFDA44;
    margin-top: 0px;
}

.btn-yellow:hover {background-color: #eaa12d;}

.sm-title{
    font-size: 40px;
    font-weight: 800;
}

.input-yellow{
    border: 1px solid #FFDA44;
    background-color: rgba(0,0,0,0);
    height: 80%;
    width: 77%;
    color: #fff;
    margin-top: 0px;
    padding: 0px;
}
/*======================navbar======================*/

.navbar {margin-bottom: 0px;}

/*======================section======================*/

.section {
    width: 94%;
    height: 90%;
    margin: 0 auto;
}

/*======================title-shopping======================*/

.title-shopping {
    width: 100%;
    height: 20%;
}

.title-container {
    height: 94%;
    display: flex;
    flex-direction: row;

}

.title-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;

}

.title-img img {
    width: 35%;

}

.title-black {}

.title-gray {
    color: #c6c6c6;

}

.title {
    font-weight: bold;
}

.title-black,
.title-gray {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1.5px solid #a8a8a8;
}
/*======================ariticle======================*/

.ariticle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ariticle-img{
    width: 20%;
    height: 60%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ariticle-img img{
    padding-top: 15%;

/*    border: 1px solid red; */
}
.title-finshed{
    padding-top: 10%;
}
.ariticle-btn{
    width: 20%;
    height: 10%;
}
.ariticle-btn input{
    border-style: none;
    font-size: 20px;
    font-family: '微軟正黑體',Roboto,sans-serif;
}

