

.just-all{
    width: 100%;
/*    border: 1px solid red;*/
}

.right-box {
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #ffffff;
/*    border: 1px solid red; */
    float:right;
}

/*=========================區塊要置中========================*/

.center-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
}

.flipx {
    transform: rotateY(180deg);
}

.box {
    width: 30%;
    height: 100%;
}

.input-yellow {
    border: 1px solid #FFDA44;
    background-color: rgba(0, 0, 0, .2);
    height: 35px;
    width: 100%;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
}

.font-gray {
    margin-top: 30px;
    padding-right: 10px;
    display: inline-block;
    color: #95989A;
}

/*=========================黃色btn========================*/

.btnyellow {
    text-align: center;
    line-height: 35px;
    width: 170px;
    height: 35px;
    background-color: #FFDA44;
    margin-top: 3px 0px;
    margin: 0px;
    transition: .3s;
    font-weight: 600;
    color: #404040;
}

.btnyellow:hover {
    background-color: #eaa12d;
}

/*=========================灰色字========================*/

.tx-gray {
    line-height: 50px;
    color: #7e7e7e;
}

.all-img {
    width: 100%;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 30px;
    z-index:50; 
    background-color: #fff;
/*    border: 1px solid red; */
}
.bg-img{
    width: 40%;
    height: 100%;
    padding-left: 50px;
/*    border: 1px solid red; */
    float:left;
}
.bigImg img{
    max-width: 400px;
    padding-top: 100px;
}
.bigImg {
    height: 70%;
    width: 40%;
}

.qrCodeIcon {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
/*    border: 1px solid red; */
}

.qrCodeIconAnd,
.qrCodeIconIos {
    text-align: center;
    z-index: 100;
}

.qrCodeIconAnd img:nth-child(1) {
    width: 100px;
}

.qrCodeIconAnd img:nth-child(2) {
    width: 120px;
}

.qrCodeIconIos img:nth-child(1) {
    width: 100px;
}

.qrCodeIconIos img:nth-child(2) {
    width: 120px;
}

.intr-img1 {
    position: relative;
    width: 100%;
    height: 80%;
    padding-top: 650px;
/*     padding-bottom:100px; */
    z-index: 1;
/*    border: 1px solid red; */
}
.intr-img2{
    position: absolute;
    margin-top: 450px;
    z-index: 50;
    width: 100%;
/*    border: 1px solid red;*/
    background-color: #fff;
}
.intr-text1{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
/*    border: 1px solid red;*/
}
.intr-text2{
    width: 50%;
    height: 100px;
    float: left;
    padding-left:70px; 
    margin-top:100px;
/*    border: 1px solid red;*/
}
.intr-img2 img{
   height: 470px;
   float: right;
/*  border: 1px solid red;*/
}


.intr-img1 img {
    width: 100%;
    -webkit-transform: translateY(-10%) ;
    transform: translateY(-10%);
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);

}
/*底部方塊==========================================*/
.bottom-text ,.bottom-submit{
    background-color: #dddddd;
}
.bottom-text {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-submit{
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}
.gradiant {
    width: 100%;
    height: 600px;
    position: absolute;
    margin-top:650px;
    left: 0;
    top: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
}

.intr-float {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    width: 100%;
    height: 100px;
/*    border: 1px solid red;*/
}
.intr-font {
    position: relative;
    margin-top: -1070px;
    margin-left: 100px;
    float: left;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    z-index: 10000;
}


.scroll {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    top: 0;
    bottom: 0;
    background-color: #fff;
}

.checkQty {
    margin-top: 40px;
    margin-left: 100px;
    width: 200px;
    height: 40px;
    display: flex;
}

.checkSelect {
    width: 100px;
    height: 35px;
}

input[type=submit] {
    margin-left: 5px;
    border: none;
}

p {
    width: 0px;
    margin: 0 0 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.serviceIcon {
    display: flex;
    justify-content: space-around;
}

div p {
    width: 70px;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

FORM {
    width: 450px;
    padding-top: 20px;
    padding-left: 10px;
}

/* =============shoppingCartIcon================ */

.container {
    width: 500px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.screen {
    background-color: #ffd801;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.qty {
    float: left;
    position: absolute;
    right: 8px;
    top: 0px;
    z-index: 100;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}
