html, body {
	width: 100%;
	height: 100%;
 	overflow: auto;
}

* {
	font-family: '微軟正黑體', Roboto, sans-serif;
/* 	background-attachment: fixed; */
}

/*=========================滿版背景========================*/
.bg-full {
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.bg-full img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

/*=========================大標題========================*/
.title {
	font-size: 50px;
	font-weight: normal;
}

/*=========================小標題========================*/
.sub-title {
	font-size: 30px;
	font-weight: 300;
}

.sm-title {
	font-size: 25px;
	font-weight: 300;
	line-height: 30px;
}

/*=========================文字置中========================*/
.text-center {
	text-align: center;
	color: white;
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

/*================敘述文字================================*/
.text-describe {
	color: white;
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
	font-size: 30px;
	text-decoration: none;
}

.left-text-describe {
	color: black;
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
	font-size: 36px;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	text-decoration: none;
}

/*=========================灰色字========================*/
.tx-gray {
	line-height: 50px;
	color: #7e7e7e;
}

/*=========================錯誤橘色字========================*/
.tx-error {
	line-height: 50px;
	color: #ff7600;
}

/*=========================背景色========================*/
.query-zone {
	/* 	background-color: rgba(0,0,0,0.5); */
	/* 	margin: 10px; */
	/* 	padding: 50px;	 */
	/* 	float: right; */
	width: 70%;
	padding-left: 20%;
}

.left-box {
	width: 23%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 1);
	padding-bottom: 66%;
	float: left;
}

.right-box-center {
	float:left;
	width: 77%;
}

.right-box {
	
	right: 0;
	top: 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 5%;
	height:100%;
	padding-bottom: 100%;
}

.updateText {
	color: white;
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
	font-size: 30px;
	text-align: center;
}

.text-center {
	color: white;
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
	font-size: 40px;
	text-align: center;
}

.query-text {
	border: 1px solid #FFDA44;
	background-color: rgba(0, 0, 0, .2);
	height: 35px;
	width: 100%;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

/*=========================深灰========================*/
.color-bg-darkBox {
	background-color: #2F2F2F;
}

/*=========================清除浮動========================*/
.clearFloat {
	clear: both;
}

/*=========================區塊要置中========================*/
.center-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*=========================黃色btn========================*/
.btn-yellow {
	width: 300px;
	height: 35px;
	background-color: #FFDA44;
	margin-top: 30px;
}

.input-yellow {
	border: 1px solid #FFDA44;
	background-color: rgba(0, 0, 0, .2);
	height: 35px;
	width: 100%;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.font-gray {
	margin-top: 30px;
	padding-right: 10px;
	display: inline-block;
	color: #95989A;
}

/*=========================黃色btn========================*/
.btnyellow {
	text-align: center;
	/* 	line-height: 40px; */
	width: 45%;
	height: 40px;
	background-color: #FFDA44;
	margin-top: 30px;
	transition: .3s;
	/* 	font-weight: 600; */
	color: #404040;
	font-size: 24px;
	font-family: '微軟正黑體', Roboto, sans-serif;
	/* 	padding-bottom: 30px; */
}

.btnyellow:hover {
	background-color: #eaa12d;
}

